<div class="container animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <hr class="mt-4" color="#FF6347" style="height: 5px; width: 100%;">
        <h2 class="text-center mt-2 mb-3">Mis documentos</h2>
        <table class="table">
            <thead>
                <tr class="bg-dark text-white">
                    <th colspan="6">Nombre</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let doc of byUser">
                    <div *ngFor="let itemInfo of archivos">
                        <div *ngIf="itemInfo.nombre == doc.archivo && doc.validacion == 0">
                            <app-item-verificador [itemInfo]="itemInfo" [documentoInfo]="doc" (actualizar)="refrescar()"></app-item-verificador>
                        </div>
                    </div>  
                </tr> 
            </tbody>
        </table>
        </div>
    </div>
    
</div>
