<div class="container fast fadeIn">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <hr class="mt-4" color="#FF6347" style="height: 5px; width: 100%;">
            <h2 class="text-center mt-2 mb-5">Menu usuarios</h2>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="card">
                <span class="text-center mt-3">
                    <fa-icon [icon]="faAddUsu" size="10x"></fa-icon>
                </span>
                <div class="card-body">
                    <button (click)="agregarU()" type="button" class="btn btn-success btn-block">Agregar Usuario</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <span class="text-center mt-3">
                    <fa-icon [icon]="faList" size="10x"></fa-icon>
                </span>
                <div class="card-body">
                    <button (click)="verUsuarios()" type="button" class="btn btn-primary btn-block">Lista de usuarios</button>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>