<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <hr class="mt-4" color="#FF6347" style="height: 5px; width: 100%;">
            <h2 class="text-center mt-2 mb-5">Menu documentos</h2>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-4">
            <div class="card">
                <span class="text-center mt-3">
                    <fa-icon [icon]="faUpload" size="10x"></fa-icon>
                </span>
                <div class="card-body">
                    <button (click)="agregarD()" type="button" class="btn btn-success btn-block">Subir documento</button>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <span class="text-center mt-3">
                    <fa-icon [icon]="faListDocument" size="10x"></fa-icon>
                </span>
                <div class="card-body">
                    <button (click)="verDocumentos()" type="button" class="btn btn-primary btn-block">Lista de documentos</button>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>