<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6 col-md-offset-3">
        <hr class="mt-4" color="#FF6347" style="height: 5px; width: 100%;">
        <h2 class="text-center mb-3">Subir documento</h2>
        <div class="jumbotron">
            <form autocomplete="off">
                <div class="row">
                    <div class="form-group col-12">
                        <input type="file" accept="file/*" (change)="seleccionarArchivo($event)" name="archivo" autocomplete="off" class="form-control input-sm" placeholder="Archivo">
                        <!-- <p class="validar" *ngIf="validar_n">Rellena este campo</p> -->
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-6 col-6 col-sm-1">
                        <button type="submit" (click)="upload()" class="btn btn-success btn-block">Subir</button>
                    </div>
                    <div class="col-md-6 col-6 col-sm-1">
                        <button type="submit" [routerLink]="['/menu-document']" class="btn btn-warning btn-block">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-3">
    </div>
</div>