<div class="container animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <hr class="mt-4" color="#FF6347" style="height: 5px; width: 100%;">
        <h2 class="text-center mt-2 mb-3">Documentos asignados</h2>
        <table class="table">
            <thead>
                <tr class="bg-dark text-white">
                    <th>Nombre</th>
            </thead>
            <tbody>
                <tr *ngFor="let doc of byUser">
                    <div *ngFor="let itemInfo of archivos">
                        <div *ngIf="itemInfo.nombre == doc.archivo && doc.asignado == 1">
                           
                            <td width="30%">{{itemInfo.nombre}}</td>
                            <!-- <td *ngIf="edicionActiva" width="40%">
                                <input type="text" name="" [(ngModel)]="modeloItem" autocomplete="off" class="form-control input-sm" placeholder="Nombre archivo">
                            </td> -->
                    
                            <td width="10%">
                                <fa-icon [icon]="faPdf" *ngIf="itemInfo.tipo == 'pdf'" size="2x"></fa-icon>
                                <fa-icon [icon]="faPng" *ngIf="itemInfo.tipo == 'png'" size="2x"></fa-icon>
                                <fa-icon [icon]="faDocx" *ngIf="itemInfo.tipo == 'docx'" size="2x"></fa-icon>
                                <fa-icon [icon]="faZip" *ngIf="itemInfo.tipo == 'zip'" size="2x"></fa-icon>
                                <fa-icon [icon]="faPptx" *ngIf="itemInfo.tipo == 'pptx'" size="2x"></fa-icon>
                                <fa-icon [icon]="faJpg" *ngIf="itemInfo.tipo == 'jpg'" size="2x"></fa-icon>
                                <fa-icon [icon]="faExcel" *ngIf="itemInfo.tipo == 'xlsx'" size="2x"></fa-icon>
                    
                            </td>
                    
                            <td width="12%">{{itemInfo.size}}</td>
                            <td width="10%"class="text-center">
                                <!-- <a href="javascript:void(0);" class="btn btn-outline-warning" (click)="activarEdicion(itemInfo.nombre)" *ngIf="!edicionActiva">
                                    <fa-icon [icon]="faEdit"></fa-icon> Renombrar</a>
                                <a *ngIf="!edicionActiva"> | </a> -->
                    
                    
                                <a href="../../assets/docs/{{itemInfo.nombre}}" class="btn btn-outline-primary">
                                    <fa-icon [icon]="faDownload" *ngIf="itemInfo.tipo != 'pdf'" size="lg"></fa-icon>
                                    <fa-icon [icon]="faView" *ngIf="itemInfo.tipo == 'pdf'" size="lg"></fa-icon>
                                </a>
                                <!-- <a href="javascript:void(0);" class="btn btn-outline-success" (click)="renombrar(itemInfo)" *ngIf="edicionActiva">
                                    <fa-icon [icon]="faDelete"></fa-icon> Guardar</a>
                                <a *ngIf="edicionActiva"> | </a>
                                <a href="javascript:void(0);" class="btn btn-outline-warning" (click)="desactivarEdicion()" *ngIf="edicionActiva">
                                    <fa-icon [icon]="faDelete"></fa-icon> Cancelar</a> -->
                            </td>

                            <td width="28%"class="text-center" >
                                <a class="alert alert-danger" role="alert" *ngIf="doc.rechazo >= 1">
                                    <mdb-icon fas icon="exclamation-triangle"></mdb-icon>
                                      Rechazado
                                </a>
                            </td>
                            <td width="10%">
                                <a href="javascript:void(0);" class="btn btn-outline-warning" (click)="verStatus(doc)" *ngIf="tipoUsu != 'verificador'">
                                    Status
                                </a>
                            </td>
                            <td width="10%"class="text-center">
                                <a href="javascript:void(0);" class="btn btn-outline-danger" (click)="borrar(itemInfo, doc.id)" *ngIf="tipoUsu != 'verificador'">
                                    <fa-icon [icon]="faDelete" size="lg"></fa-icon>
                                </a>
                            </td>
                        </div>
                    </div>
                    
                </tr> 
            </tbody>
        </table>
        </div>
    </div>
    
</div>
