<nav class="navbar navbar-expand-lg navbar-light rounded colorNavbar">
    <a class="navbar-brand" routerLink="home" routerLinkActive="active">Hanon Systems</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample" aria-controls="navbarsExample" aria-expanded="false" aria-label="Toggle navigation">
  
  <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarsExample">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item mr-4">
                <a class="nav-link" *ngIf="loginbtn" routerLink="home" routerLinkActive="active">Inicio</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" *ngIf="logoutbtn" routerLink="registration" routerLinkActive="active">Registration</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" *ngIf="loginbtn" class="btn btn-primary" routerLink="login" routerLinkActive="active">
                    <fa-icon [icon]="faLogin"></fa-icon> Iniciar sesion</a>
            </li>
            <li class="nav-item mr-2">
                <a class="nav-link" *ngIf="logoutbtn" routerLink="dashboard" routerLinkActive="active">Dashboard</a>
            </li>
            <li class="nav-item mr-2">
                <a class="nav-link" *ngIf="logoutbtn" routerLink="menu-document" routerLinkActive="active">
                    <fa-icon [icon]="faFolder"></fa-icon> Documentos</a>
            </li>
            <li class="nav-item mr-4">
                <a class="nav-link" *ngIf="administrador == 'administrador'" routerLink="menu-usuario" routerLinkActive="active">
                    <fa-icon [icon]="faUsers"></fa-icon> Usuarios</a>
            </li>
            <li class="nav-item">
                <button type="button" *ngIf="logoutbtn" class="btn btn-danger" (click)="logout()">
                    <fa-icon [icon]="faLogout"></fa-icon> Cerrar sesion</button>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>