
<div class="container animated fadeIn">
    <div class="col-md-auto col-lg-auto">
        <hr class="mt-4" color="#FF6347" style="height: 5px; width: 100%;">
        <h2 class="text-center mt-2 mb-3">Asignacion de documentos</h2>
        <table class="table border">
            <thead>
                <tr class="bg-dark text-white text-center">
                    <th width="100%" colspan="2">Documento</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td width="20%"><strong class="mr-3">Archivo: </strong>  {{ documento[0].archivo }}</td>
                </tr>
                <tr>
                    <td width="0%"><strong class="mr-3">Fecha de creacion: </strong> {{ documento[0].fecha }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <hr>
    <div class="col-md-auto col-lg-auto mt-3">
        <h4 class="text-center mt-3 mb-3">Verificadores</h4>
        <form [formGroup]="form" (ngSubmit)="submitForm()" novalidate>
            <div class="form-check mt-3" *ngFor="let usuario of verificadores;let i=index" >
                <label class="form-check-label" style="font-size: 18px;">
                        <input class="form-check-input mr-3" type="checkbox" [value]="usuario.id" (change)="onCheckboxChange($event)"> {{ usuario.nombre }} {{ usuario.apellidos }}
                </label>
            </div>
            <div class="mt-4">
                <input type="submit" value="Asignar usuarios" class="btn btn-success"/>
            </div>
        </form>
    </div>
</div>